body {
  text-align: center;
  font-family: Arial;
}

.board {
  width: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.win {
  background-color: lightgreen;
}